.item{
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    color:#689f38 ;
    text-align: center;
    height: 100%;
    flex:0 1 auto;
    
}
.container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height:fit-content;
    justify-self: start;
    /* width:100vw; */
   
    /* border-width: 2px;
    border-color:rgba(128, 255, 0, 0.295) rgba(172, 255, 47, 0.39) rgba(0, 255, 0, 0.384) rgba(144, 238, 144, 0.473);
    border-style : solid;
    border-radius: 50px;  */
    /* background-color:#fcfcfc; */
   
}

.num{
    margin:auto;
    margin-top: 10px;
    /* font-family: sans-serif; */
    /* font-style: italic; */
    /* font-weight:normal; */
    color:#689f38
  
}
.numhidden{
    visibility: hidden;
    margin:auto;
    margin-top: 10px;
    
  
}
@media screen and (max-width:768px){
.container{
    flex-wrap:wrap;
}

}